{% extends "base.html.twig" %}
{% block body %}
    <div class="center div-form-style">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a class="pure-button button-disabled" href="{{ path('personne_new') }}">S'inscrire</a>
    </div>
{% endblock %}