{% for salle in salles %}
    <tr>
        <td class="center">{{ salle.numero }}</td>
        <td class="center">{{ salle.nom }}</td>
        <td class="center">{{ salle.capacite }}</td>
    </tr>
{% endfor %}