{% extends 'base.html.twig' %}

{% block body %}
    <script src="{{ app.request.getBaseURL() }}../../../assets/js/reservation.js"></script>
    <h1 class="center">Réserver une salle</h1>
    <h2 class="center">Filtres</h2>
    <div class="center">
        <table class="table table-striped table-bordered table-style">
            <thead>
            <tr>
                <th class="center table-title">Type Salle</th>
                <th class="center table-title">Date</th>
                <th class="center table-title">Capacité</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="center">
                    <select id="typeSalleSelected" name="typeSalle" onchange="ajaxGetDisponibilities()">
                        <option value="" selected="selected">Sélectionnez un type de salle</option>>
                        {% for type in typeSalle %}
                            <option value="{{ type.id }}">{{ type.nom }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="center" >
                    <input id="dateSelected" type="date" onchange="ajaxGetDisponibilities()">
                </td>
                <td class="center">
                    <select id="capacitySelected" onchange="ajaxGetDisponibilities()" >
                        <option value='2' selected >2</option>
                        <option value='4'>4</option>
                        <option value='6'>6</option>
                    </select>
                    <!--<input id="capacitySelected" type="number" onchange="ajaxGetDisponibilities()">-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="DisponibilitiesRoom"></div>



    <div class="center div-form-style">
        <button type="button" id = "validate_reservation" class="btn btn-success" style="display:none">Valider réservation</button>
        <a class="btn btn-primary" href="{{ path('reserve_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
