{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Typesalle creation</h1>
    <div class="center div-form-style">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
    <div class="center div-form-style">
        <a class="btn btn-primary" href="{{ path('typesalle_index') }}">Back to the list</a>
    </div>
{% endblock %}
